

params {

    // RoseTTAFold links
    uniref30              = 'http://wwwuser.gwdg.de/~compbiol/uniclust/2020_06/UniRef30_2020_06_hhsuite.tar.gz'
    pdb100                = 'https://files.ipd.uw.edu/pub/RoseTTAFold/pdb100_2021Mar03.tar.gz'
    RFAA_paper_weights    = 'http://files.ipd.uw.edu/pub/RF-All-Atom/weights/RFAA_paper_weights.pt'

    // RoseTTAFold paths
    bfd_variable                   = "/mnt/af2/bfd/"
    uniref30_variable              = "/mnt/af2/uniref30/"
    pdb100_variable                = "/mnt/af2/pdb100/"
    RFAA_paper_weights_variable    = ""
}
